<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/functions.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/index.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/readingTime.min.js"></script>

<!-- IMPORT JAVASCRIPT FUNCTIONS -->
<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

<!-- Dropdown menu -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/dropdown_menu.js"></script>

<!-- Collapsible -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/collapsible.js"></script>

<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
