<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/functions.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/index.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/readingTime.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/katex.js"></script>


<!-- LaTex in Markdown  -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
   "HTML-CSS": { linebreaks: { automatic: true } },
           SVG: { linebreaks: { automatic: true } }
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<!-- Load jQuery -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<!-- Load KaTeX -->
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script> -->


<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>-->
        
<!-- IMPORT JAVASCRIPT FUNCTIONS -->
<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

<!-- Dropdown menu -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/dropdown_menu.js"></script>

<!-- Collapsible -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/collapsible.js"></script>

<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

